* {
  box-sizing: border-box;
}

body {
  margin: 0px;
  padding: 0px;
  font-family: "Archivo Narrow", sans-serif;
  background-color: whitesmoke;
  scroll-behavior: smooth;
}

header h1 {
  text-align: center;
  font-size: 100px;
  color: rgb(41, 37, 37);
  text-emphasis: bold;
  text-shadow: #2c8c83;
}

header {
  padding: 30px;
  background-color: #b2d68b;
  background-attachment: fixed;
  text-align: center;
  font-family: "Limelight", cursive;
  font-weight: bolder;
  font-size: 40px;
  text-shadow: aliceblue;
  border-radius: 15px;
}
#typesp {
  text-align: justify;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0px;
  padding: 0px;
  font-family: "Archivo Narrow", sans-serif;
  background-color: whitesmoke;
  scroll-behavior: smooth;
}

header h1 {
  text-align: center;
  font-size: 100px;
  color: rgb(41, 37, 37);
  text-emphasis: bold;
  text-shadow: #2c8c83;
}

header {
  padding: 30px;
  background-color: #6de9ff;
  background-attachment: fixed;
  text-align: center;
  font-family: "Limelight", cursive;
  font-weight: bolder;
  font-size: 40px;
  text-shadow: aliceblue;
}
#typesp {
  text-align: justify;
}
#link :link {
  color: cyan;
  background-color: transparent;
}
#link :visited {
  color: palevioletred;
  background-color: transparent;
}

#link :hover {
  color: violet;
  background-color: transparent;
}

main {
  text-align: center;
  font-family: "Noto Sans JP", sans-serif;
  border: 10px solid black;
}

.background {
  height: 500px;
  background-size: 1000px;
  padding-left: 80px;
  padding-right: 80px;
  padding-top: 40px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 1.2rem;
  background-blend-mode: lighten;
}

.sampleDesign {
  font-size: 1.2rem;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  background-color: #cee6b4;
  color: #525033;
  border-radius: 15px;
}
h2 {
  padding: 20px;
}

section {
  min-height: 50vh;
  text-align: center;
}
ul {
  text-align: center, justify;
  list-style: inside;
  color: rgb(15, 15, 15);
}

iframe {
  height: 75vh;
}

section h5 {
  margin: 40px;
}

footer {
  background-color: #333;
  overflow: hidden;
}

footer a {
  text-decoration: none;
  padding: 20px;
  text-align: center;
  float: left;
  color: #2c8c83;
}
input[type="text"],
select,
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type="submit"] {
  background-color: #04aa6d;
  color: white;
  padding: 12px 20px;
  border: none;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #45a049;
}

.contact {
  border-radius: 5px;
  background-image: url("/web/gallery/g13.jpg");
  padding: 10px;
}

.column {
  float: left;
  width: 50%;
  margin-top: 6px;
  padding: 20px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}
.footerhead {
  font-size: 1rem;
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 600px) {
  .column,
  input[type="submit"] {
    width: 100%;
    margin-top: 0;
  }
}
footer {
  background-color: #333;
  color: #2c8c83;
  font-family: "Lobster", cursive;
}

main {
  text-align: center;
  font-family: "Noto Sans JP", sans-serif;
  border: 10px solid black;
}

.background {
  background-image: url("/gallery/g13.jpg");
  height: 500px;
  background-size: 1000px;
  padding-left: 80px;
  padding-right: 80px;
  padding-top: 40px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 1.2rem;
  background-blend-mode: lighten;
}

.sampleDesign {
  font-size: 1.2rem;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  background-color: #cee6b4;
  color: #525033;
}
h2 {
  padding: 20px;
}

section {
  min-height: 50vh;
  text-align: center;
}
ul {
  text-align: center, justify;
  list-style: inside;
  color: rgb(15, 15, 15);
}

iframe {
  height: 75vh;
}

section h5 {
  margin: 40px;
}

footer {
  background-color: #333;
  overflow: hidden;
}

footer a {
  text-decoration: none;
  padding: 20px;
  text-align: center;
  float: left;
  color: #2c8c83;
}
input[type="text"],
select,
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}
#mail {
  width: 100%;
  border: 1px solid #ccc;
  height: 50px;
}
input[type="submit"] {
  background-color: #04aa6d;
  color: white;
  padding: 12px 20px;
  border: none;
  cursor: pointer;
  border-radius: 10px;
  font-size: larger;
}
#infont {
  font-size: 20px;
  font-weight: bold;
}

input[type="submit"]:hover {
  background-color: #45a049;
}

.contact {
  border-radius: 5px;
  background-image: url("/gallery/g13.jpg");
  padding: 10px;
}

.column {
  float: left;
  width: 50%;
  margin-top: 6px;
  padding: 20px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

@media screen and (max-width: 600px) {
  .column,
  input[type="submit"] {
    width: 100%;
    margin-top: 0;
  }
}
footer {
  background-color: #333;
  color: #2c8c83;
  font-family: "Lobster", cursive;
}
